# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [9]:
chipo.loc[chipo['item_price_num']> 10.00].sort_values('item_price_num', ascending=False)

,order_id,quantity,item_name,choice_description,item_price,item_price_num
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,$44.25,44.25
3480,1398,3,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$35.25,35.25
3602,1443,4,Chicken Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$35.00,35.00
1254,511,4,Chicken Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$35.00,35.00
3601,1443,3,Veggie Burrito,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$33.75,33.75
...,...,...,...,...,...,...
476,204,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",$10.58,10.58
2919,1160,1,Chicken Bowl,"[Fresh Tomato (Mild), [Guacamole, Rice]]",$10.58,10.58
3520,1415,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Rice, Sour C...",$10.58,10.58
1099,453,1,Chicken Burrito,"[Fresh Tomato (Mild), [Guacamole, Lettuce, Ric...",$10.58,10.58
3599,1443,7,Bottled Water,NaN,$10.50,10.50

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [18]:
chipo.loc[:,['item_name','item_price_num']]

                                  item_name  item_price_num
0              Chips and Fresh Tomato Salsa            2.39
1                                      Izze            3.39
2                          Nantucket Nectar            3.39
3     Chips and Tomatillo-Green Chili Salsa            2.39
4                              Chicken Bowl           16.98
...                                     ...             ...
4617                          Steak Burrito           11.75
4618                          Steak Burrito           11.75
4619                     Chicken Salad Bowl           11.25
4620                     Chicken Salad Bowl            8.75
4621                     Chicken Salad Bowl            8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [19]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price,item_price_num
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98,12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [56]:
chipo.sort_values('item_price_num', ascending=False).loc[:,['item_name', 'item_price_num', 'quantity']].head(1)

                         item_name  item_price_num  quantity
3598  Chips and Fresh Tomato Salsa           44.25        15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [30]:
chipo.loc[chipo['item_name'] == 'Veggie Salad Bowl', 'quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [40]:
chipo.loc[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]['order_id'].count()

20